* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

/* for displaying horizontal navbar */
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* for color of navbar elements */
a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: brown;
}

.col-2 p {
    font-size: 20px;
    color: black;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;

}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
.col-3 img {
    width: 100%;
}
.col-3:hover{
    |transform: translatex(-10%);
}

.small-contaier {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
     text-align: center;
     margin: 10px auto 80px;
     position: relative;
     line-height: 60px;
     color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 230px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 39%;
    transform: translatex(-1%);
}
h4{
    color: #555; 
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-10px);
}
/* ------------offer------------- */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 100px;
}
small{
    color: #555;  
}

/* ------------testimonial--------------- */

.testimonial{
    padding: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);

}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: rgb(147, 0, 108);
    font-size: 16px;
}

/* ----------------------------brands-------------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* -----------------------footer/bottom-------------- */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 30px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width:200px ;
    margin-bottom: 20px;
    margin-left: -80px;
    margin-top: 30px;
}
.footer-col-2 p{
    margin-right: 80px;
    
}
.footer-col-1, .footer-col-3,.footer-col-4{
    flex-basis: 12px;
    text-align: center;
    margin-right: 30px;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}